header {
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-section {
  display: flex;
  align-items: center;
}

.left-section > p {
  font-weight: 600;
  font-size: 24px;
}

.logo {
  width: 50px;
  margin-right: 10px;
}

.right-section > p {
  font-size: 20px;
}
